/**
 * Created by zhuangpeiyu on 2016/12/30.
 */
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap","variables","mixins";
/* 下面的是我自己的小联系 */
%hide {
  display: none;
}
body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}
/* 这里是导航的样式 */
.section {
  @include inline-block;
  float: left;
}
.navi {
  @extend %hide;
}
#main_menu {
  position: fixed;
  top:5px;
  z-index: 999;
  @include inline-block;
}
.row{
  width: 100%;
  background:$brand-black;
  position: fixed;
  height: 92px;
  top:0;
  .span5 {
    width: 40.1%;
  }

  .span2{
    width: 12%;
    img {
      display: block;
      max-width: 100%;
      vertical-align: middle;
      margin-top: 25px;
    }

  }

}
.row > [class*="span"] {
  display: block;
  float: left;
  margin-left: 2.564%;
  min-height: 20px;
  box-sizing: border-box;
}
nav {
  ul {
    list-style: none;
    margin: 0;
    @include inline-block;
    li {
      float: left;
      line-height: 40px;
      margin: 0 25px;
      position: relative;
    }

  }

}
li{
  &:hover {
    background:$brand-black;
    -moz-transition: background 1s ease-out;
    -webkit-transition: background 1s ease-out;
    & dd{
      margin-top:0;
      opacity:1;
    }
    & dl{
      top:110px;
      display:block;
      width:145px;
      padding:10px;
    }
  }

}
dl {
  position:absolute;
  display:block;
  top:90px;
  left: -25px;
  width:165px;
  background:$brand-darker;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow:1px 1px 3px $brand-darker;
  -moz-box-shadow:1px 1px 3px $brand-darker;
  z-index:10;
  dd{
    margin-top:-40px;
    opacity:0;
    width:145px;
    -webkit-transition-property:all;
    -moz-transition-property: all;
  }
  a {
    background:transparent;
    border:0 none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-transition: background 0.5s ease-out;
    -webkit-transition: background 0.5s ease-out;
  }
  &:hover {
    color:#FFF;
    text-decoration: none;
    -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}
nav > ul{
  ul {
    display: none;
    list-style: none;
    position: absolute;
    background: $brand-darker;
    margin: 0;
    left: -10px;
    top: 82px;
    min-width: 228px;
    z-index: 2001;
    overflow: visible;
    padding: 5px 0;
    li {
      position: relative;

    }
  }
}
nav > ul > li{
  span {
    display: block;
    margin-top: 40px;
  }
}
nav > ul > li > a {
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  color: #686d73;
  font-size: 14px;
  font-style: normal;
  padding-right: 0;
  text-decoration: none;
  box-sizing: border-box;
  &:after {
    content: "";
    position: absolute;
    top: 7px;
    right: -34px;
    width: 4px;
    height: 4px;
    border-radius: $border-radius;
    border: 1px solid $circle-color;
    margin-top: 40px;
  }
  &:hover {
    text-decoration: none;
  }
}
li:first-child{
margin-left: -10px;
}
/* 导航样式的结束 */

/* 轮播样式的开始 */
.carousel-control {
  position: absolute;
  top: 400px;
}
.test1 {
  position: absolute;
  top:250px;
  text-align: center;
}
.test1 p:nth-child(1) {
    white-space: nowrap;
    font-size: 24px;
  }
.carousel-title {
  font-size: 65px;
  white-space: nowrap;
}
.carousel-text {
  white-space: nowrap;
  font-style: italic;
  font-family: $font-text;
  font-weight: 100;
  font-size: 16px;
  line-height: 44px;
  &.carousel-text:before,&.carousel-text:after{
    content: '';
    width: 55px;
    height: 1px;
    background: $brand-white;
    position: absolute;
    top:190px
  }
  &.carousel-text:before{
    left: 65px;
    margin-left: -76px;
  }
  &.carousel-text:after{
    right: 65px;
    margin-right: -76px;
  }
}
.carousel-btn{
  border:1px solid #fff;
  width: 109px;
  height: 35px;
  line-height: 35px;
  font-size: 11px;
  font-family: "Al Nile";
  margin:10px 0 0 290px;
  padding: 3px 3px;
  opacity: 0;
  &:hover {
    @include transition-transform(180ms);
    opacity: 1;
  }
}


/* 轮播样式的结束 */